/* Nav */
.nav {
    position: fixed;
    z-index: 999;
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;
    padding: 0 var(--padding-med);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--primary-font);
    font-size: var(--font-size-small);
    box-shadow: 0px 2px 2px var(--primary-shadow-color);
}

.nav__logo {
    position: relative;
    height: 90%;
    width: 30%;
    cursor: pointer;
    transition: 0.25s;
}

.nav__list-icon {
    position: relative;
    height: 100%;
    width: 17.5%;
    cursor: pointer;
    transition: 0.25s;
}

.nav__list {
    display: flex;
}

.nav__list-button-container {
    justify-content: center;
    gap: var(--padding-very-small);
}

.nav__list-icon-container {
    justify-content: flex-end;
    gap: var(--padding-very-small);
    height: 100%;
    width: 100%;
}

.nav__buttons {
    position: relative;
    display: grid;
    padding: var(--padding-small) 0;
    width: max(7.25vmax, 7rem);
    place-items: center;
    font-family: var(--primary-font);
    font-size: var(--font-size-small);
    font-weight: 700;
    background-color: transparent;
    border: none;

    cursor: pointer;
    transition: 0.25s;
}

.nav__buttons>p {
    position: relative;
    width: min-content;
    text-transform: uppercase;
}

/* Icons */
.nav__logo::before,
.nav__list-icon::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    translate: -50% -50%;
}

.nav__logo::before {
    height: 60%;
    width: 100%;
    background: url(/icons/default-logo.svg) no-repeat center / contain;
}

.nav__list-icon::before {
    height: 45%;
    width: 100%;
}

.nav__list-icon-container>.nav__list-icon:nth-child(1)::before {
    background: url(/icons/default-search.svg) no-repeat center / contain;
}

.nav__list-icon-container>.nav__list-icon:nth-child(2)::before {
    background: url(/icons/default-heart.svg) no-repeat center / contain;
}

.nav__list-icon-container>.nav__list-icon:nth-child(3)::before {
    background: url(/icons/default-cart.svg) no-repeat center / contain;
}

/* Animation */
.nav__buttons:hover,
.nav__logo:hover,
.nav__list-icon-container>.nav__list-icon:nth-child(1):hover,
.nav__list-icon-container>.nav__list-icon:nth-child(2):hover,
.nav__list-icon-container>.nav__list-icon:nth-child(3):hover {
    translate: 0 -3.5%;
}

.nav__buttons>p::before,
.nav__buttons>p::after {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-font-color);
    content: "";
    transition: width 0.25s;
}

.nav__buttons>p::before {
    left: 50%;
}

.nav__buttons>p::after {
    right: 50%;
}

.nav__buttons[data-activeStatus='active']>p::before,
.nav__buttons[data-activeStatus='active']>p::after {
    width: 50%;
}
