/* Loader */
.loader {
    position: relative;
    min-height: 100dvh;
    max-width: 100dvw;
    background-color: var(--background-color);
    overflow: hidden;
}

.loader__image-container {
    position: absolute;
    translate: -50% -50%;
}

.loader__image {
    width: 100%;
    object-fit: cover;
}

/* Loader Image */
.loader__image-1 {
    width: 42.5vmax;
    top: 50%;
    left: 50%;
}

.loader__image-2 {
    width: 30vmax;
    top: 77.5%;
    left: 80%;
}

.loader__image-3 {
    width: 30vmax;
    top: 25%;
    left: 18.5%;
}

.loader__image-4 {
    width: 32.5vmax;
    top: 25%;
    left: 80%;
}

.loader__image-5 {
    width: 32.5vmax;;
    top: 77.5%;
    left: 20%;
}