/* Wishlist */
.wishlist {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
}

.wishlist__content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 var(--padding-large);
}

.wishlist__banner-container {
    padding: var(--padding-small) 0 0;
    height: max(22.5rem, 22.5vmax);
}

.wishlist__banner-container>.banner {
    background-position: center 65%;
}

.wishlist__title {
    padding: 0 0 var(--padding-small);
    margin-top: var(--padding-small);
    font-family: var(--primary-font);
    font-size: var(--font-size-large);
    font-weight: 400;
    border-bottom: solid 1px var(--primary-shadow-color);
    text-transform: uppercase;
}

.wishlist__filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-small);
    font-family: var(--primary-font);
    border-bottom: solid 1px var(--primary-shadow-color);
}

.wishlist-filter__dropdown-container {
    display: flex;
    gap: calc(var(--padding-very-small) / 2);
    padding: var(--padding-very-small) 0;
    align-items: center;
}

.wishlist-message__remove,
.wishlist-message__add {
    color: #8B0000;
    text-transform: capitalize;
}

.wishlist-message__add {
    color: #306844;
}

/* Product Display */

.wishlist__display-container {
    display: flex;
    flex-direction: column;
}

.wishlist-display__product {
    display: flex;
    gap: var(--padding-small);
    padding: var(--padding-small) 0;
    border-bottom: solid 1px var(--primary-shadow-color);
}

.wishlist-product__img-container {
    position: relative;
    display: flex;
    align-items: center;
    width: max(9.5rem, 10vmax);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    overflow: hidden;
}

.wishlist-product__img-container::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle,
            transparent,
            rgba(0, 0, 0, 0.2));
    content: "";
}

.wishlist-product__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: 0.25s;
}

.wishlist-product__content-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    flex: 1;
}

.wishlist-product__information {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding-very-small) / 2.5);
    text-transform: capitalize;
}

.wishlist-product__name {
    display: flex;
    width: max-content;
    font-family: var(--primary-font);
    font-size: var(--font-size-small);
    color: var(--primary-font-color);
    text-decoration: none;
}

.wishlist-product__description {
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-very-small) / 1.05);
}

.wishlist-product__additional {
    display: flex;
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-very-small) / 1.15);
}

.wishlist-product__information>.product__rating-star>.product__rating {
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-very-small) / 1.15);
}

.wishlist-product__information>.product__rating-star>.product__star--filled,
.wishlist-product__information>.product__rating-star>.product__star--empty {
    height: calc(var(--font-size-very-small) / 1.15);
}

/* Buttons */
.wishlist-product__button-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-very-small);
    align-items: flex-end;
}

.wishlist-product__button-format {
    display: flex;
    width: 70%;
}

.wishlist-product__button-add,
.wishlist-product__button-remove {
    padding: calc(var(--padding-very-small) / 1.5);
    font-family: var(--secondary-font);
    border: solid 1px var(--primary-shadow-color);
    cursor: pointer;
    transition: 0.25s;
}

.wishlist-product__button-add {
    font-size: calc(var(--font-size-small) / 1.05);
    width: 70%;
}

.wishlist-product__button-remove {
    padding: calc(var(--padding-very-small) / 1.75);
    width: 50%;
    font-size: calc(var(--font-size-small) / 1.15);
}

/* Empty */
.wishlist__empty-container {
    display: flex;
    flex-direction: column;
    padding: calc(var(--padding-large) * 2) 0 calc(var(--padding-large) * 2);
}

.wishlist-empty__title {
    font-family: var(--primary-font);
    font-size: calc(var(--font-size-large) /1.15);
    font-weight: 500;
}

.wishlist-empty__text {
    font-family: var(--primary-font);
    font-size: var(--font-size-med);
}

/* Animation */
.wishlist-product__button-add:hover,
.wishlist-product__button-remove:hover {
    color: var(--secondary-font-color);
    background-color: var(--active-color);
    translate: 0 -7.5%;
}

.wishlist-product__img-container:hover .wishlist-product__img{
    scale: 1.05;
}

.wishlist-product__name:hover{
    text-decoration: underline;
}