/* Cart */
.cart {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
}

.cart__content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 var(--padding-large);
}

.cart__banner-container {
    padding: var(--padding-small) 0;
    height: max(22.5rem, 25vmax);
}

.cart__banner-container>.banner {
    background-position: center 42.5%;
}

.cart__title {
    padding-bottom: var(--padding-small);
    font-family: var(--primary-font);
    font-size: var(--font-size-large);
    font-weight: 400;
    border-bottom: solid 1px var(--primary-shadow-color);
    text-transform: uppercase;
}

/* Main Display */
.cart__content {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: var(--padding-small);
    padding-bottom: var(--padding-small);
}

.cart__display {
    display: flex;
    flex-direction: column;
}

.cart-display__product {
    display: flex;
    gap: var(--padding-small);
    padding: var(--padding-small) 0;
    border-bottom: solid 1px var(--primary-shadow-color);
}

.cart-product__img-container {
    position: relative;
    display: flex;
    align-items: center;
    width: max(9.5rem, 10vmax);
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.cart-product__img-container::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle,
            transparent,
            rgba(0, 0, 0, 0.2));
    content: "";
}

.cart-product__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.cart-product__content-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: min-content 1fr;
    flex: 1;
}

.cart-product__information {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding-very-small) / 2.5);
}

.cart-product__name,
.cart-product__price {
    font-family: var(--secondary-font);
    font-size: var(--font-size-small);
    font-weight: 500;
}

.cart-product__price {
    display: flex;
    gap: calc(var(--padding-very-small) / 2);
    justify-content: end;
    font-size: var(--font-size-very-small);
}

.cart-product__information>.cart-product__price:nth-child(2) {
    font-size: calc(var(--font-size-very-small) * 1.05);
}

.cart-product__discount {
    color: var(--active-color);
    text-decoration: line-through;
}

.cart-product__additional {
    display: flex;
    gap: calc(var(--padding-very-small) / 2);
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-very-small) / 1.15);
}

.cart-product__lower-content {
    display: flex;
    grid-column: 1 / end;
    align-items: end;
}

.cart-product__quantity-container {
    display: flex;
    gap: var(--padding-very-small);
    margin-right: var(--padding-very-small);
    height: 30%;
    align-items: center;
    font-family: var(--secondary-font)
}

.cart-quantity__display {
    display: flex;
    width: var(--padding-very-small);
    justify-content: center;
    font-size: var(--font-size-very-small);
}

.cart-quantity__button {
    padding: 0 calc(var(--padding-very-small) / 1.5);
    font-size: var(--font-size-very-small);
    border: solid 1px var(--primary-shadow-color);
    cursor: pointer;
    transition: 0.25s;
}

.cart-quantity__button[data-status="disabled"] {
    background-color: transparent;
    cursor: default;
}

.cart-product__edit {
    position: relative;
    display: flex;
    padding: 0 var(--padding-very-small);
    height: 30%;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-very-small) / 1.20);
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.10s;
}

.cart-product__edit::before {
    position: absolute;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: var(--primary-shadow-color);
    content: "";
}

.cart-product__edit:hover {
    font-weight: 500;
    translate: 0 -7.5%;
}

/* Cart Summary */
.cart__summary {
    display: flex;
    flex-direction: column;
    padding: var(--padding-small);
    margin: var(--padding-small) 0 0 0;
    font-family: var(--primary-font);
    border: solid 1px var(--primary-shadow-color);
    box-shadow: 0px 0px 5px var(--primary-shadow-color);
}

.cart-summary__title-container {
    display: flex;
    padding-bottom: calc(var(--padding-small) / 1.5);
    justify-content: space-between;
    font-size: calc(var(--font-size-small) * 1.15);
    border-bottom: solid 1px var(--primary-shadow-color);
}

.cart-summary__information-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: calc(var(--font-size-very-small) / 1.15);
    border-bottom: solid 1px var(--primary-shadow-color);
}

.cart-summary__information-container>p {
    padding: calc(var(--padding-small) / 1.5) 0;
}

.cart-information__saved {
    color: #8B0000;
}

.cart-summary__information-container>p:nth-child(even) {
    text-align: end;
}

.cart-summary__total-container {
    display: flex;
    padding: calc(var(--padding-small) / 1.5) 0;
    justify-content: space-between;
    font-size: var(--font-size-small);
    border-bottom: solid 1px var(--primary-shadow-color);
}

.cart-summary__promo-container {
    padding: calc(var(--padding-small) / 1.5) 0;
    justify-content: space-between;
    font-size: calc(var(--font-size-very-small) / 1.15);
}

.cart-summary__promo-container>p {
    padding-bottom: var(--padding-very-small);
}

.cart-promo__error {
    font-size: calc(var(--font-size-very-small) / 1.20);
    color: #8B0000;
}

.cart-promo__success {
    font-size: calc(var(--font-size-very-small) / 1.20);
    color: #306844;
}


.cart-promo__input {
    height: var(--font-size-large);
    width: 70%;
    font-family: var(--primary-font);
    font-size: var(--font-size-very-small);
    border: solid 1px var(--primary-shadow-color);
}

.cart-summary__checkout {
    padding: var(--padding-very-small);
    font-family: var(--primary-font);
    font-size: var(--font-size-small);
    border: solid 1px var(--primary-shadow-color);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.25s;
}

.cart__empty-container {
    display: flex;
    flex-direction: column;
    padding: calc(var(--padding-large) * 2) 0 calc(var(--padding-large) * 2);
}

.cart-empty__title {
    font-family: var(--primary-font);
    font-size: calc(var(--font-size-large) /1.15);
    font-weight: 500;
}

.cart-empty__text {
    font-family: var(--primary-font);
    font-size: var(--font-size-med);
}

.cart__recommend-container>.cart__title {
    font-size: calc(var(--font-size-large) / 1.15);
    border-bottom: solid 1px var(--primary-shadow-color);
}

/* Animation */
.cart-quantity__button:not([data-status="disabled"]):hover,
.cart-summary__checkout:hover {
    color: var(--secondary-font-color);
    background-color: var(--active-color);
}

.cart-summary__checkout:hover {
    translate: 0 -5%;
}