/*  (Format *ABC Order for same family)
    Position
    Position format (top - left - bottom - right)
    index
    Display
    Display format
    Gap
    Margin
    Padding
    size
    alignment
    Font
    Extra 
*/

@import '../components/loader/Loader.css';

:root {
    --background-color: #FDFDF9;
    --font-color: #121205;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Home */
.home {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    
}

.home__column {
    height: 100dvh;
    overflow: hidden;
}

.home__column-inner {
    height: 100%;
}

.home-column__block {
    background-position: center;
    background-size: cover;
    height: 100%;
    scroll-snap-align: center;
}
