/*  (Format *ABC Order for same family)
    Position
    Position format (top - left - bottom - right)
    index
    Display
    Display format
    Gap
    Margin
    Padding
    height
    width
    alignment
    Font
    Extra 
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './components/Loader.css';
@import './components/nav.css';
@import './components/home.css';

:root {
    --primary-font: "Libre Baskerville", serif;
    --secondary-font: "Montserrat", sans-serif;

    --font-size-very-small: clamp(0.5rem, max(1rem, 1vmax), max(1.10rem, 1.1vmax));
    --font-size-small: clamp(1rem, max(1.15rem, 1.10vmax), max(1.25rem, 1.75vmax));
    --font-size-med: clamp(1.35rem, max(1.25rem, 1.75vmax), max(2.25rem, 2.5vmax));
    --font-size-large: clamp(1.75rem, max(2rem, 2.5vmax), max(2.5rem, 2.75vmax));

    --padding-very-small: clamp(0.25rem, max(0.50rem, 0.75vmax), max(1rem, 1.25vmax));
    --padding-small: clamp(0.75rem, max(1.25rem, 1.25vmax), max(1.5rem, 2vmax));
    --padding-med: clamp(1.5rem, max(2.25rem, 2.75vmax), max(2.5rem, 3.25vmax));
    --padding-large: clamp(3rem, max(3.5rem, 4vmax), max(4rem, 4.5vmax));


    --background-color: #FDFDF9;
    --primary-shadow-color: #D3D3D3;
    --primary-font-color: #121205;
    --secondary-font-color: #F5F5F5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* Search */
.search {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100dvw;
    background-color: var(--background-color);
    color: var(--primary-font-color);
}

.search__section-selector {
    position: sticky;
    top: 0%;
    display: flex;
    gap: var(--padding-very-small);
    padding: var(--padding-very-small) 0;
    width: 100%;
    justify-content: center;
    background-color: var(--background-color);
    box-shadow: 0px 2px 3px var(--primary-shadow-color);
}

.search__section-button {
    padding: calc(var(--padding-very-small) / 4);
    width: max(9vmax, 8.5rem);
    font-family: var(--primary-font);
    font-size: var(--font-size-very-small);
    background-color: transparent;
    border: solid 1px var(--primary-shadow-color);
    border-radius: 10rem;
    cursor: pointer;
    transition: 0.25s;
}

.search__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    grid-template-columns: 0.25fr 1fr;
}

.search__header {
    padding: var(--padding-very-small);
}

.search-header__title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: var(--primary-font);
    font-size: var(--font-size-large);
    font-weight: 500;
    text-transform: capitalize;
}

.search-content__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--padding-very-small);
    padding: 0 var(--padding-small);
}

.product-card {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1.15;
    color: var(--primary-font-color);
}

.product-card__img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.product-card__content-wrapper{
    display: grid;
    padding: var(--padding-very-small) 0 var(--padding-small);
    place-items: center;
    font-family: var(--secondary-font);
    font-weight: 500;
}

.product-card__name {
    font-family: var(--secondary-font);
}

/* Animation */

.search__section-button:hover {
    translate: 0 -7.5%;
}