/* Large devices  */
@media (min-width: 992px) and (max-width: 1199px) {

    /* Home */
    .home-column__text-container {
        left: 5%;
        bottom: 15%;
    }

    /* Product */
    .product-card__rating-container {
        flex-direction: column;
        align-items: start;
        gap: calc(var(--padding-very-small) / 2);
        margin-top: calc(var(--padding-very-small) * -0.25);
        height: 100%;
    }

    .product-card__rating-container button {
        margin-top: auto;
        width: 100%;
    }

    .product-card__content-container {
        height: max(8.5rem, 8.5vmax);
    }

    /* Search */
    .search-content__main {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Wishlist */
    .wishlist-product__button-format {
        width: 90%;
    }

    .wishlist-product__button-add {
        width: 90%;
    }

    /* Edit Screen */
    .editproduct__display {
        height: 80%;
        width: 80%;
    }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    .home-column__text-container {
        left: 5%;
        bottom: 15%;
        width: 50%;
    }

    /* Product */
    .product-card__rating-container {
        flex-direction: column;
        align-items: start;
        gap: calc(var(--padding-very-small) / 2);
        margin-top: calc(var(--padding-very-small) * -0.25);
        height: 100%;
    }

    .product-card__rating-container button {
        margin-top: auto;
        width: 100%;
    }

    .product-card__content-container {
        height: max(10.30rem, 10.30vmax);
    }

    /* Search */
    .search-content__main {
        grid-template-columns: repeat(3, 1fr);
    }

    .search-content__filter-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }

    .search-content__filter-container .marquee {
        grid-column: 1 / end;
        border: none;
        border-bottom: solid 1px var(--primary-shadow-color);
    }

    .search-content__filter-container .search-content__dropdown-container:nth-child(1) {
        grid-row: 2;
    }

    .search-content__filter-container .search-content__dropdown-container:nth-child(3) {
        justify-content: end;
    }

    /* Wishlist */
    .wishlist-product__content-container {
        grid-template-columns: 0.8fr 0.5fr;
    }

    .wishlist-product__button-format {
        width: 100%;
    }

    .wishlist-product__button-add {
        width: 100%;
    }

    .title__recommmend,
    .productpage-reviews__title {
        font-size: calc(var(--font-size-large) / 1.05);
    }

    /* Cart */
    .cart__content {
        display: flex;
        flex-direction: column;
    }

    .cart-promo__input {
        width: 35%;
    }

    /* Edit Screen */
    .editproduct__display {
        height: 80%;
        width: 80%;
    }

    /* Product Page */
    .productpage__content-display {
        display: flex;
        flex-direction: column;
        gap: var(--padding-small);
    }

    .productpage__title {
        font-size: calc(var(--font-size-very-large) / 1.05);
    }

    .productpage-content__img {
        width: 100%;
        aspect-ratio: 2 / 1.75;
    }

    .productpage__information {
        padding-bottom: var(--padding-small);
        border-bottom: solid 1px var(--primary-shadow-color);
    }

    /* Nav */
    .nav-search__content {
        width: 95%;
    }

    .nav__search {
        height: calc(var(--font-size-large) * 1.25);
    }

    .nav__list-icon-container {
        flex-direction: column;
        gap: calc(var(--padding-med) / 1.25);
    }

    .nav-list__icon-wrapper {
        display: block;
        background-color: #FDFDF9;
    }

    .home .nav-list__icon-wrapper {
        background-color: transparent;
    }

    .nav-list__icon-wrapper[data-open=false] {
        overflow: hidden;
    }

    .nav-list__icon-wrapper * {
        margin-left: auto;
    }

    .nav__menu {
        display: block;
    }

    .nav-icons {
        display: block;
        padding: var(--padding-very-small);
        height: calc(var(--font-size-med) * 1.45);
    }

    .nav__icon-holder {
        padding: calc(var(--padding-small) / 1.25) var(--padding-very-small);
        margin-right: calc(var(--padding-very-small) * -1);
        display: flex;
        width: max-content;
        background-color: white;
    }

    .home .nav__icon-holder {
        background-color: transparent;
    }

}

/* Small Device */
@media (min-width: 576px) and (max-width: 767px) {

    /* Home */
    .home-column__text-container {
        left: 5%;
        bottom: 10%;
        width: 50%;
    }

    .home-column__text-title {
        font-size: var(--font-size-med);
    }

    .home-column__text-statement {
        font-size: var(--font-size-very-small);
    }

    /* Product */
    .product-card__rating-container {
        flex-direction: column;
        align-items: start;
        gap: calc(var(--padding-very-small) / 2);
        margin-top: calc(var(--padding-very-small) * -0.25);
        height: 100%;
    }

    .product-card__rating-container button {
        margin-top: auto;
        width: 100%;
    }

    .product-card__content-container {
        height: max(8.5rem, 8.5vmax);
    }

    /* Search */
    .search-content__main {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-content__filter-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0;
    }

    .search-content__filter-container .marquee {
        grid-column: 1 / end;
        border: none;
        border-bottom: solid 1px var(--primary-shadow-color);
    }

    .search-content__filter-container .search-content__dropdown-container:nth-child(1) {
        grid-column: 1 / end;
        grid-row: 2;
    }

    .search-content__filter-container .search-content__dropdown-container:nth-child(3) {
        grid-column: 1 / end;
        grid-row: 3;
    }

    .search__content {
        display: flex;
        flex-direction: column;
        padding: 0 var(--padding-med);
    }

    .search-content__filter-container {
        margin: 0 var(--padding-med);
    }

    .search-content__dropdown-container {
        font-size: var(--font-size-very-small);
    }

    .marquee__content {
        font-size: var(--font-size-very-small);
    }

    .search__banner-container {
        padding: var(--padding-small) var(--padding-med);
    }

    .search__section-selector {
        margin: 0 var(--padding-med);
    }

    /* Wishlist */
    .wishlist-product__content-container {
        grid-template-columns: 0.8fr 0.5fr;
    }

    .wishlist-product__button-format {
        width: 100%;
    }

    .wishlist-product__button-add {
        width: 100%;
    }

    .productpage-reviews__title {
        font-size: calc(var(--font-size-large) / 1.05);
    }

    .wishlist__content-container {
        margin: 0 var(--padding-med);
    }

    .wishlist__filter-container {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }

    .wishlist-filter__dropdown-container {
        grid-column: 2;
        grid-row: 1;
        justify-content: end;
    }

    .wishlist-message__remove,
    .wishlist-message__add {
        grid-column: 1 / end;
    }

    /* Cart */
    .cart__content {
        display: flex;
        flex-direction: column;
    }

    .cart-promo__input {
        width: 35%;
    }

    .cart__content-container {
        margin: 0 var(--padding-med);
    }

    .cart__title {
        flex-direction: column;
    }

    /* Edit Screen */
    .editproduct__display {
        height: 80%;
        width: 80%;
    }

    /* Product Page */
    .productpage__content-display {
        display: flex;
        flex-direction: column;
        gap: var(--padding-small);
    }

    .productpage__title {
        font-size: calc(var(--font-size-very-large) / 1.05);
    }

    .productpage-content__img {
        width: 100%;
        aspect-ratio: 2 / 1.75;
    }

    .productpage__information {
        padding-bottom: var(--padding-small);
        border-bottom: solid 1px var(--primary-shadow-color);
    }

    .productpage-information__display {
        display: flex;
        flex-direction: column;
    }

    .productpage-review__display {
        border-bottom: solid 1px var(--primary-shadow-color);
    }

    .productreview__container {
        padding-right: 0;
    }

    .productpage__information-discription {
        padding: calc(var(--padding-small) / 1.15) 0;
        font-family: var(--secondary-font);
        border: none
    }

    .productpage__content-display {
        margin: var(--padding-small) var(--padding-med);
    }

    .productpage__reviews-container {
        margin: 0 var(--padding-med) var(--padding-small);
    }

    .productpage__similar-container {
        margin: 0 var(--padding-med);
    }
    /* Nav */
    .nav__buttons {
        width: max-content;
        font-size: var(--font-size-very-small);
    }

    .nav__list-button-container {
        gap: var(--padding-med);
    }


    .nav-search__content {
        width: 95%;
    }

    .nav__search {
        height: calc(var(--font-size-large) * 1.25);
    }

    .nav__list-icon-container {
        flex-direction: column;
        gap: calc(var(--padding-med) / 1.25);
    }

    .nav-list__icon-wrapper {
        display: block;
        background-color: #FDFDF9;
    }

    .home .nav-list__icon-wrapper {
        background-color: transparent;
    }

    .nav-list__icon-wrapper[data-open=false] {
        overflow: hidden;
    }

    .nav-list__icon-wrapper * {
        margin-left: auto;
    }

    .nav__menu {
        display: block;
    }

    .nav-icons {
        display: block;
        padding: var(--padding-very-small);
        height: calc(var(--font-size-med) * 1.45);
    }

    .nav__icon-holder {
        padding: calc(var(--padding-small) / 1.25) var(--padding-very-small);
        margin-right: calc(var(--padding-very-small) * -1);
        display: flex;
        width: max-content;
        background-color: white;
    }

    .home .nav__icon-holder {
        background-color: transparent;
    }

    /* Titles */
    .search-header__title {
        font-size: calc(var(--font-size-med) * 1.20);
    }

    .productpage__title {
        font-size: var(--font-size-large);
    }
    
    .title__recommmend {
        font-size: calc(var(--font-size-med) * 1.25);
    }

}

/* Extra small devices */
@media (max-width: 576px) {

    /* Home */
    .home-column__text-container {
        left: 10%;
        bottom: 10%;
        width: 50%;
    }

    .home-column__text-title {
        font-size: var(--font-size-med);
    }

    .home-column__text-statement {
        font-size: var(--font-size-very-small);
    }


    /* Product */
    .product-card__rating-container {
        flex-direction: column;
        align-items: start;
        gap: calc(var(--padding-very-small) / 2);
        margin-top: calc(var(--padding-very-small) * -0.25);
        height: 100%;
    }

    .product-card__rating-container button {
        margin-top: auto;
        width: 100%;
    }

    .product-card__content-container {
        height: max(10rem, 18.5vmax);
    }

    /* Search */
    .search-content__main {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-content__filter-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0;
    }

    .search-content__filter-container .marquee {
        grid-column: 1 / end;
        border: none;
        border-bottom: solid 1px var(--primary-shadow-color);
    }

    .search-content__filter-container .search-content__dropdown-container:nth-child(1) {
        grid-column: 1 / end;
        grid-row: 2;
    }

    .search-content__filter-container .search-content__dropdown-container:nth-child(3) {
        grid-column: 1 / end;
        grid-row: 3;
    }

    .search__content {
        display: flex;
        flex-direction: column;
        padding: 0 var(--padding-med);
    }

    .search-content__filter-container {
        margin: 0 var(--padding-med);
    }

    .search-content__dropdown-container {
        font-size: var(--font-size-very-small);
    }

    .marquee__content {
        font-size: var(--font-size-very-small);
    }

    .search__banner-container {
        padding: var(--padding-small) var(--padding-med);
    }

    .search__section-selector {
        margin: 0 var(--padding-med);
    }

    /* Wishlist */
    .wishlist-product__content-container {
        grid-template-columns: 0.8fr 0.5fr;
    }

    .wishlist-product__button-format {
        width: 100%;
    }

    .wishlist-product__button-add {
        width: 75%;
    }

    .wishlist-product__img-container {
        display: none;
    }

    .wishlist-product__content-container {
        grid-template-columns: 1fr 1fr;
        gap: var(--padding-very-small);
        flex: 1;
    }

    .wishlist-product__button-format {
        flex-direction: column;
        width: 75%;
    }

    .wishlist-product__button-remove {
        padding: calc(var(--padding-very-small) / 1.75);
        width: 100%;
        font-size: calc(var(--font-size-small) / 1.15);
    }

    .title__recommmend,
    .productpage-reviews__title {
        font-size: calc(var(--font-size-large) / 1.05);
    }

    .wishlist__content-container {
        margin: 0 var(--padding-med);
    }

    .wishlist__filter-container {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }

    .wishlist-filter__dropdown-container {
        grid-column: 2;
        grid-row: 1;
        justify-content: end;
    }

    .wishlist-message__remove,
    .wishlist-message__add {
        grid-column: 1 / end;
    }

    /* Cart */
    .cart__content-container {
        margin: 0 var(--padding-med);
    }

    .cart__title {
        flex-direction: column;
    }

    .cart__content {
        display: flex;
        flex-direction: column;
    }

    .cart-promo__input {
        width: 35%;
    }

    .cart-product__img-container {
        display: none;
    }

    /* Edit Screen */
    .editproduct__display {
        height: 80%;
        width: 90%;
    }

    /* Product Page */
    .productpage__content-display {
        display: flex;
        flex-direction: column;
        gap: var(--padding-small);
    }

    .productpage__title {
        font-size: calc(var(--font-size-very-large) / 1.05);
    }

    .productpage-content__img {
        width: 100%;
        aspect-ratio: 2 / 1.75;
    }

    .productpage__information {
        padding-bottom: var(--padding-small);
        border-bottom: solid 1px var(--primary-shadow-color);
    }

    .productpage-information__display {
        display: flex;
        flex-direction: column;
    }

    .productpage-review__display {
        border-bottom: solid 1px var(--primary-shadow-color);
    }

    .productreview__container {
        padding-right: 0;
    }

    .productpage__information-discription {
        padding: calc(var(--padding-small) / 1.15) 0;
        font-family: var(--secondary-font);
        border: none
    }

    .productpage__content-display {
        margin: var(--padding-small) var(--padding-med);
    }

    .productpage__reviews-container {
        margin: 0 var(--padding-med) var(--padding-small);
    }

    .productpage__similar-container {
        margin: 0 var(--padding-med);
    }

    /* Nav */
    .nav {
        padding: 0 var(--padding-med);
    }

    .nav-search__content {
        width: 80%;
    }

    .nav__search {
        height: calc(var(--font-size-large) * 1.25);
    }

    .nav__list-icon-container {
        flex-direction: column;
        gap: calc(var(--padding-med) / 1.25);
    }

    .nav-list__icon-wrapper {
        display: block;
        background-color: #FDFDF9;
    }

    .home .nav-list__icon-wrapper {
        background-color: transparent;
    }

    .nav-list__icon-wrapper[data-open=false] {
        overflow: hidden;
    }

    .nav-list__icon-wrapper * {
        margin-left: auto;
    }

    .nav__menu {
        display: block;
    }

    .nav-icons {
        display: block;
        padding: var(--padding-very-small);
        height: calc(var(--font-size-med) * 1.45);
    }

    .nav__icon-holder {
        padding: calc(var(--padding-small) / 1.25) var(--padding-very-small);
        margin-right: calc(var(--padding-very-small) * -1);
        display: flex;
        width: max-content;
        background-color: white;
    }

    .nav__buttons {
        width: max-content;
        font-size: var(--font-size-very-small);
    }

    .nav__list-button-container {
        gap: var(--padding-small);
    }

    .home .nav__icon-holder {
        background-color: transparent;
    }

    /* Recommend */
    .recommendation .product-card__content-container {
        height: max(10.3rem, 10.3vmax);
    }

    /* Titles */
    .search-header__title {
        font-size: calc(var(--font-size-med) * 1.20);
    }

    .productpage__title {
        font-size: var(--font-size-large);
    }

    .title__recommmend {
        font-size: calc(var(--font-size-med) * 1.25);
    }
}