.product-card {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1.15;
    color: var(--primary-font-color);
    cursor: pointer;
}

.product-card__img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.product-card__img-container::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle,
            transparent,
            rgba(0, 0, 0, 0.2));
    content: "";
}

.product-card__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: 0.25s;
}

.product-card__content-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding-very-small) / 4);
    padding: calc(var(--padding-very-small) / 3) 0 calc(var(--padding-small) / 1.5);
    font-family: var(--secondary-font);
    font-size: var(--font-size-very-small);
    font-weight: 500;
}

.product-card__name {
    font-family: var(--primary-font);
    font-weight: 600;
}

.product-card__description {
    font-weight: 400;
    font-size: calc(var(--font-size-very-small) / 1.15);
}

.product-card__price {
    font-size: var(--font-size-small);
}

.product-card__rating-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: calc(var(--padding-very-small) * -1);
}

.product__rating {
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-weight: 400;
    font-size: calc(var(--font-size-very-small) / 1.15);
}

.product__rating-star {
    display: flex;
    align-items: center;
}

.product__star--filled,
.product__star--empty {
    height: calc(var(--font-size-very-small) / 1.15);
    aspect-ratio: 1 / 1;
}

.product__star--filled {
    background: url('/icons/default-star-filled.svg') no-repeat center / cover;
}

.product__star--empty {
    background: url('/icons/default-star-empty.svg') no-repeat center / cover;
}

.product-card__button {
    padding: calc(var(--padding-very-small) / 1.5) var(--padding-very-small);
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-very-small) / 1.15);
    border: solid 1px var(--primary-shadow-color);
    cursor: pointer;
    transition: 0.25s;
}

.product-card__button[data-status = "disabled"] {
    background-color: transparent;
    cursor: default;
}

.product-card__wishlist-button {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    z-index: 999;
    width: calc(var(--padding-large) / 2);
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;
}

.product-card__wishlist-button::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(/icons/home-heart.svg) no-repeat center / contain;
    content: "";
    cursor: pointer;
    opacity: 0;
    transition: 0.25s;
}

.product-card__wishlist-button[data-status = true]::before {
    background: url(/icons/wishlist-filled-heart.svg) no-repeat center / contain;
}


/* Animation */
.product-card__button[data-status = enabled]:hover {
    color: var(--secondary-font-color);
    background-color: var(--active-color);
    translate: 0 -7.5%;
}

.product-card:hover .product-card__wishlist-button::before{
    opacity: 1;
}

.product-card__wishlist-button:hover:before {
    background: url(/icons/wishlist-filled-heart.svg) no-repeat center / contain;
}