.marquee{
    flex: 1;
    display: flex;
    gap: var(--padding-very-small);
    align-items: center;
    border-left: solid 1px var(--primary-shadow-color);
    border-right: solid 1px var(--primary-shadow-color);
    overflow: hidden;
    user-select: none;
    
}

.marquee__content {
    display: flex;
    gap: var(--padding-very-small);
    min-width: 100%;
    justify-content: space-around;
    font-family: var(--secondary-font);
    font-size: var(--font-size-small);
    font-weight: 500;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - var(--padding-very-small)));
      }
  }