/* Nav */
.nav {
    position: sticky;
    top: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;
    padding: 0 var(--padding-large);
    align-items: center;
    justify-content: space-between;
    height: max(4vmax, 3.5rem);
    width: 100%;
    font-family: var(--primary-font);
    font-size: var(--font-size-small);
    background-color: #FDFDF9;
    border-bottom: solid 1px var(--primary-shadow-color);
}

.nav__logo {
    position: relative;
    height: 90%;
    width: 30%;
    cursor: pointer;
    transition: 0.25s;
}

.nav__list-icon {
    position: relative;
    height: 100%;
    width: calc(var(--padding-large) / 1.25);
    cursor: pointer;
    transition: 0.25s;
}

.nav__list {
    display: flex;
}

.nav__list-button-container {
    justify-content: center;
    gap: var(--padding-very-small);
}

.nav__list-icon-container {
    justify-content: flex-end;
    gap: var(--padding-very-small);
    height: 100%;
    width: 100%;
}

.nav__buttons {
    position: relative;
    display: grid;
    width: max(7.25vmax, 7rem);
    place-items: center;
    font-family: var(--primary-font);
    font-size: var(--font-size-small);
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.nav__buttons>p {
    position: relative;
    width: min-content;
    text-transform: uppercase;
}

/* Icons */
.nav__logo::before,
.nav__list-icon::before {
    position: absolute;
    top: 50%;
    left: 50%;
    height: var(--font-size-med);
    aspect-ratio: 1 / 1;
    content: "";
    translate: -50% -50%;
}

.nav__logo::before {
    height: var(--font-size-large);
    background: url(/icons/default-logo.svg) no-repeat center / contain;
}

.nav__list-icon-container>.nav__list-icon:nth-child(1)::before {
    background: url(/icons/default-search.svg) no-repeat center / contain;
}

.nav__list-icon-container>.nav__list-icon:nth-child(2)::before {
    background: url(/icons/default-heart.svg) no-repeat center / contain;
}

.nav__list-icon-container>.nav__list-icon:nth-child(3)::before {
    background: url(/icons/default-cart.svg) no-repeat center / contain;
}

.nav__list-icon-container>.nav__list-icon:nth-child(2)[data-visible = "visible"]::after,
.nav__list-icon-container>.nav__list-icon:nth-child(3)[data-visible = "visible"]::after {
    position: absolute;
    top: 35%;
    right: -5%;
    display: flex;
    height: var(--font-size-very-small);
    align-items: center;
    justify-content: center;
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-very-small) / 1.5);
    font-weight: 700;
    aspect-ratio: 1 / 1;
    background-color: #C40234;
    border-radius: 100%;
    content: attr(data-amount);
    color: var(--secondary-font-color);
    translate: -50% -50%;
}


/* Animation */
.nav__buttons:hover,
.nav__logo:hover,
.nav__list-icon-container>.nav__list-icon:nth-child(1):hover,
.nav__list-icon-container>.nav__list-icon:nth-child(2):hover,
.nav__list-icon-container>.nav__list-icon:nth-child(3):hover {
    translate: 0 -3.5%;
}

.nav__buttons>p::before,
.nav__buttons>p::after {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: var(--primary-font-color);
    content: "";
    transition: width 0.25s;
}

.nav__buttons>p::before {
    left: 50%;
}

.nav__buttons>p::after {
    right: 50%;
}

.nav__buttons[data-status='active']>p::before,
.nav__buttons[data-status='active']>p::after {
    width: 50%;
}

/* Nav search */

.nav__search-container {
    display: grid;
    padding: var(--padding-very-small);
    width: 100%;
    place-items: center;
}

.nav-search__content {
    position: relative;
    width: 80%;
    font-family: var(--secondary-font);
    font-size: var(--font-size-very-small);
    font-weight: 400;
}

.nav__search {
    padding-left: var(--padding-very-small);
    height: var(--font-size-large);
    width: 100%;
    font-family: var(--secondary-font);
    font-size: var(--font-size-very-small);
    font-weight: 400;
    border: solid 1px var(--primary-shadow-color);
}

.nav-search__display-container {
    position: absolute;
    top: 100%;
    left: 50%;
    display: none;
    width: 100%;
    aspect-ratio: 2 / 1;
    background-color: #FDFDF9;
    border: solid 1px var(--primary-shadow-color);
    overflow: auto;
    transform: translateX(-50%);
}

.nav[data-visible = "visible"] .nav-search__display-container{
    display: flex;
    flex-direction: column;

}

.nav-search__product-name{
    padding: calc(var(--padding-very-small) / 2) var(--padding-very-small);

    user-select: none;
    text-transform: capitalize;
}

.nav-search__product-name:hover {
    background-color: var(--active-color);
    color: var(--secondary-font-color);
}