/* Nav */
.nav {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    padding: 0 var(--padding-large);
    align-items: center;
    justify-content: space-between;
    height: max(4vmax, 3.5rem);
    width: 100%;
    font-family: var(--primary-font);
    font-size: var(--font-size-small);
    background-color: #FDFDF9;
    border-bottom: solid 1px var(--primary-shadow-color);
}

.nav__logo {
    position: relative;
    height: calc(var(--font-size-med) * 1.45);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: 0.25s;
}

.nav__list {
    display: flex;
}

.nav__list-button-container {
    justify-content: center;
    gap: var(--padding-very-small);
    flex: 1;
}

.nav__buttons {
    position: relative;
    display: grid;
    width: max(7.25vmax, 7rem);
    place-items: center;
    font-family: var(--primary-font);
    font-size: var(--font-size-small);
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.nav__buttons>p {
    position: relative;
    width: min-content;
    text-transform: uppercase;
}

/* Icons */
.nav-list__icon-wrapper {
    height: calc(var(--font-size-med) * 1.45);
    display: flex;
    gap: var(--padding-med);
    width: 15%;
    justify-content: flex-end;
}

.nav-icons {
    position: relative;
    height: calc(var(--font-size-med) * 1.15);
    aspect-ratio: 1 / 1;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.nav__menu {
    display: none;
    height: calc(var(--font-size-med) * 1.45);
    aspect-ratio: 1 / 1;
    border: none;
    background: url(/icons/default-navmenu.svg) no-repeat center / contain;
    cursor: pointer;
    transition: 0.25s;
}

.nav__icon-holder {
    display: flex;
}

.nav-list__icon-wrapper[data-open = true] .nav__icon-holder {
    border: solid 1px var(--primary-shadow-color);
}

.nav-list__icon-wrapper[data-open = true] .nav__icon-holder:nth-child(2) {
    border-bottom: none
}

.nav-list__icon-wrapper[data-open = true] .nav__icon-holder:nth-child(3) {
    border-top: none;
    border-bottom: none
}

.nav-list__icon-wrapper[data-open = true] .nav__icon-holder:nth-child(4) {
    border-top: none
}

.nav__logo::before {
    position: absolute;
    top: 50%;
    left: 50%;
    height: var(--font-size-med);
    aspect-ratio: 1 / 1;
    content: "";
    translate: -50% -50%;
}

.nav__logo::before {
    height: calc(var(--font-size-med) * 1.45);
    background: url(/icons/default-logo.svg) no-repeat center / contain;
}

.nav-list__icon-wrapper .nav__icon-holder:nth-child(3) .nav-icons[data-visible="visible"]::after,
.nav-list__icon-wrapper .nav__icon-holder:nth-child(4) .nav-icons[data-visible="visible"]::after {
    position: absolute;
    top: 15%;
    right: 10%;
    display: flex;
    height: var(--font-size-very-small);
    align-items: center;
    justify-content: center;
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-very-small) / 1.5);
    font-weight: 700;
    aspect-ratio: 1 / 1;
    background-color: #C40234;
    border-radius: 100%;
    content: attr(data-amount);
    color: var(--secondary-font-color);
    translate: 50% -50%;
}

.nav-list__icon-wrapper .nav__icon-holder:nth-child(2)  .nav-icons{
    background: url(/icons/default-search.svg) no-repeat center / contain;
}

.nav-list__icon-wrapper .nav__icon-holder:nth-child(3) .nav-icons {
    background: url(/icons/default-heart.svg) no-repeat center / contain;
}

.nav-list__icon-wrapper .nav__icon-holder:nth-child(4)  .nav-icons {
    background: url(/icons/default-cart.svg) no-repeat center / contain;
}
/* Animation */
.nav__buttons:hover,
.nav__logo:hover,
.nav-icons:hover,
.nav__menu:hover {
    translate: 0 -5%;
}

.nav__buttons>p::before,
.nav__buttons>p::after {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: var(--primary-font-color);
    content: "";
    transition: width 0.25s;
}

.nav__buttons>p::before {
    left: 50%;
}

.nav__buttons>p::after {
    right: 50%;
}

.nav__buttons[data-status='active']>p::before,
.nav__buttons[data-status='active']>p::after {
    width: 50%;
}

/* Nav search */
.nav__search-container {
    display: grid;
    padding: var(--padding-very-small);
    width: 100%;
    place-items: center;
}

.nav-search__content {
    position: relative;
    width: 80%;
    font-family: var(--secondary-font);
    font-size: var(--font-size-very-small);
    font-weight: 400;
}

.nav__search {
    padding-left: var(--padding-very-small);
    height: var(--font-size-large);
    width: 100%;
    font-family: var(--secondary-font);
    font-size: var(--font-size-very-small);
    font-weight: 400;
    border: solid 1px var(--primary-shadow-color);
}

.nav-search__display-container {
    position: absolute;
    top: 100%;
    left: 50%;
    display: none;
    width: 100%;
    aspect-ratio: 2 / 1;
    background-color: #FDFDF9;
    border: solid 1px var(--primary-shadow-color);
    overflow: auto;
    transform: translateX(-50%);
}

.nav[data-visible="visible"] .nav-search__display-container {
    display: flex;
    flex-direction: column;

}

.nav-search__product-name {
    padding: calc(var(--padding-very-small) / 2) var(--padding-very-small);
    user-select: none;
    text-transform: capitalize;
}

.nav-search__product-name:hover {
    background-color: var(--active-color);
    color: var(--secondary-font-color);
}

.nav__logo-container {
    display: flex;
    width: 15%;
}

/* Home nav*/
.home .nav {
    position: fixed;
    background-color: transparent;
    border: none;
}

.home .nav__buttons {
    color: var(--secondary-font-color);
    text-shadow: 1px 2px 2px black;
}

.home .nav__buttons>p::before,
.home .nav__buttons>p::after {
    background-color: var(--secondary-font-color);
}

.home .nav__logo::before {
    background: url(/icons/home-logo.svg) no-repeat center / contain;
}

.home .nav__icon-holder {
    border: none
}

.home .nav__menu {
    background: url(/icons/home-navmenu.svg) no-repeat center / contain;
}

.home .nav-list__icon-wrapper .nav__icon-holder:nth-child(2) .nav-icons {
    background: url(/icons/home-search.svg) no-repeat center / contain;
}

.home .nav-list__icon-wrapper .nav__icon-holder:nth-child(3) .nav-icons {
    background: url(/icons/home-heart.svg) no-repeat center / contain;
}

.home .nav-list__icon-wrapper .nav__icon-holder:nth-child(4)  .nav-icons {
    background: url(/icons/home-cart.svg) no-repeat center / contain;
}